/* 
    Document   : layout
    Created on : 16 oct. 2011, 12:02:21
    Author     : Simo
    Description:
        Purpose of the stylesheet follows.on
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

* {
    margin:0;
    padding:0;
}

html {
    /*background-image: url(../images/bg_gradient.png);*/

}

body {
    font-family:sans-serif;
    font-size:12px;
    color: #333;
    background: #fcfcfc;
    /* background: url(../images/header_bg_1.gif) top left  repeat-x;*/




}

.panelGroup:hover
{
    cursor: pointer;
    color: #555 !important;
}

.panelGroup.selected
{
    color: #555;
}

a:link {text-decoration: none; color: #000;}
a:visited {text-decoration: none; color: #000;}
a:active {text-decoration: none; color: #000;}
a:hover {text-decoration: none; color: #000;}

.box8{
    border: 7px solid #FFF ;
    -webkit-box-shadow:  0px 0px 30px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
    background: #fbfbfb;
    min-height: 200px;
}


a.logo{
    background: url(../images/smalllogoreflect.png) bottom left no-repeat;
    width: 96px;
    height: 83px;
    padding-top: 5px;
    display: block;
}
.projet-right{
    background: url(../images/navbar.png) 0 -48px no-repeat;
    width: 139px;
    height: 48px;
    display: block;
    float: right;
}

.projet-right:hover{
    background: url(../images/navbar.png) top left no-repeat;
    width: 139px;
    height: 48px;
    display: block;
    float: right;
}
.facture-right{
    background: url(../images/navbar.png) -139px -48px no-repeat;
    width: 139px;
    height: 48px;
    display: block;
    float: right;
}
img{
    border: 0;
}
.facture-right:hover{
    background: url(../images/navbar.png) -139px 0 no-repeat;
    width: 139px;
    height: 48px;
    display: block;
    float: right;
}
.admin-right{
    background: url(../images/navbar.png) -279px -48px no-repeat;
    width: 185px;
    height: 48px;
    display: block;
    float: right;
}

.admin-right:hover{
    background: url(../images/navbar.png) -279px 0 no-repeat;
    width: 185px;
    height: 48px;
    display: block;
    float: right;
}

.logout-right1{
    background: url(../images/icon_logout.gif) no-repeat;
    width: 18px;
    height: 18px;
    display: block;
    margin-top: 4px;

}

#container
{
    margin: auto;
    width: 100%;
    color: #6e6e6e;
    font: bold 13px Helvetica, Arial, sans-serif;

}

#header
{

    padding: 20px;
}

#header h1 { margin: 0; }

#navigation
{
    float: left;
    width: 100%;
    background:#333;
}

#navigation ul
{
    margin: 0;
    padding: 0;
}

#navigation ul li
{
    list-style-type: none;
    display: inline;
}

#navigation li a
{
    display: block;
    float: left;
    padding: 5px 10px;
    color:#fff;
    text-decoration: none;
    border-right: 1px solid#fff;
}

#navigation li a:hover { background:#383; }

#content
{
    clear: left;
    padding: 20px;
}

#content h2
{
    color:#000;
    font-size: 160%;
    margin: 0 0 .5em;
}

#footer
{
    background:#f5f5f5;
    text-align: center;
  
    height: 40px;;
    border: solid 1px #dcdcdc;
    
    font:  12px Helvetica, Arial, sans-serif;
}


button.boxy {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #ffffff;
    padding: 20px 30px;
    background: -moz-linear-gradient(
        top,
        #fae19b 0%,
        #ff8c00);
    background: -webkit-gradient(
        linear, left top, left bottom, 
        from(#fae19b),
        to(#ff8c00));
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border: 0px solid #ffffff;
    -moz-box-shadow:
        2px 2px 2px rgba(000,000,000,0.3),
        inset 0px 0px 1px rgba(252,144,003,1);
    -webkit-box-shadow:
        2px 2px 2px rgba(000,000,000,0.3),
        inset 0px 0px 1px rgba(252,144,003,1);
    text-shadow:
        -1px -1px 1px rgba(193,098,002,1),
        0px 0px 0px rgba(255,255,255,0);
}

button.boxy:hover{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #ffffff;
    padding: 20px 30px;
    background: -moz-linear-gradient(
        top,
        #fff4d6 0%,
        #ff8f05);
    background: -webkit-gradient(
        linear, left top, left bottom, 
        from(#fff4d6),
        to(#ff8f05));
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border: 0px solid #ffffff;
    -moz-box-shadow:
        2px 2px 2px rgba(000,000,000,0.3),
        inset 0px 0px 1px rgba(252,144,003,1);
    -webkit-box-shadow:
        2px 2px 2px rgba(000,000,000,0.3),
        inset 0px 0px 1px rgba(252,144,003,1);
    text-shadow:
        -1px -1px 1px rgba(193,098,002,1),
        0px 0px 0px rgba(255,255,255,0);

}
button.boxy:active {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #ffffff;
    margin-top: 2px;
    margin-left: 2px;
    padding: 20px 30px;
    background: -moz-linear-gradient(
        top,
        #fff4d6 0%,
        #ff8f05);
    background: -webkit-gradient(
        linear, left top, left bottom, 
        from(#fff4d6),
        to(#ff8f05));
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border: 0px solid #ffffff;
    -moz-box-shadow:
        1px 1px 1px rgba(000,000,000,0.3),
        inset 0px 0px 1px rgba(252,144,003,1);
    -webkit-box-shadow:
        1px 1px 1px rgba(000,000,000,0.3),
        inset 0px 0px 1px rgba(252,144,003,1);
    text-shadow:
        -1px -1px 1px rgba(193,098,002,1),
        0px 0px 0px rgba(255,255,255,0);
}
.required {
    background-image: url(../images/required.png);
    background-repeat: no-repeat;
    background-position: right top;
    padding-right: 10px;
    white-space: nowrap;

}

ul.googleTab {

    background: #848383;
    padding:0 5px;
    font-size:13px;
    color:#3366cc;
    overflow:hidden;
    width: 100%;
    background:-moz-linear-gradient(0% 100% 90deg,#f5f5f5, #ffffff);
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#f5f5f5));
}

ul.googleTab li	{
    float:left;
    padding:7px 20px;
    border-top:solid 2px #bad3ea;	
}
ul.googleTab li.active{
    border-top: solid 3px #1a54e1;
    color:#363636;
    font-weight:bold;
}
ul.googleTab li:hover	{
    background:#e4ebf8;
    cursor:pointer;
}


#img-employ{ background: url(../images/googleco.png) -54px 0px no-repeat;
             width: 18px;
             height: 18px;

}
/*#img-employ:hover{ background: url(../images/googleco.png) -54px 0px no-repeat;
                   width: 18px;
                   height: 18px;
}*/

#img-insurance{ background: url(../images/googleco.png) -108px -72px no-repeat;
                width: 18px;
                height: 18px;
}
/*#img-insurance:hover{ background: url(../images/googleco.png) -180px 0px no-repeat;
                      width: 18px;
                      height: 18px;
}*/

#img-warning{ background: url(../images/googleco.png) -306px -36px no-repeat;
              width: 18px;
              height: 18px;
}
/*#img-warning:hover{ background: url(../images/googleco.png) -306px -36px no-repeat;
                    width: 18px;
                    height: 18px;
}*/

#img-leavs{ background: url(../images/googleco.png) -144px -54px no-repeat;
            width: 18px;
            height: 18px;
}
/*#img-leavs:hover{ background: url(../images/googleco.png) -144px -54px no-repeat;
                  width: 18px;
                  height: 18px;
}*/

#inside {
    width: 1000px;
    border: solid 2px #f1f1f1;
    background: #fbfbfb;
    min-height: 200px;
    margin: auto;
    margin-top: 1px;


}

#img-delete{ background: url(../images/google.png) -270px -36px no-repeat;
             width: 18px;
             height: 18px;
             margin-left: 10px;
}

#img-delete:hover{ background: url(../images/googleco.png) -270px -36px no-repeat;
                   width: 18px;
                   height: 18px;
                   margin-left: 10px;
}

#img-edit{ background: url(../images/google.png) -288px -36px no-repeat;
           width: 18px;
           height: 18px;
           margin-left: 10px;
}

#img-edit:hover{ background: url(../images/googleco.png) -288px -36px no-repeat;
                 width: 18px;
                 height: 18px;
                 margin-left: 10px;
}

#img-account{ background: url(../images/googleco.png) -108px -108px no-repeat;
              width: 18px;
              height: 18px;
              margin-left: 10px;
}

/*#img-account:hover{ background: url(../images/googleco.png) -108px -108px no-repeat;
                    width: 18px;
                    height: 18px;
                    margin-left: 10px;
}*/

#add-item{ color: #6e6e6e;
           font: bold 12px Helvetica, Arial, sans-serif;
           text-decoration: none;
           padding: 7px 12px;
           position: relative;
           display: inline-block;
           text-shadow: 0 1px 0 #fff;
           -webkit-transition: border-color .218s;
           -moz-transition: border .218s;
           -o-transition: border-color .218s;
           transition: border-color .218s;
           background: #f3f3f3;
           background: -webkit-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));
           background: -moz-linear-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));
           border: solid 1px #dcdcdc;
           border-radius: 2px;
           -webkit-border-radius: 2px;
           -moz-border-radius: 2px;
           margin-right: 10px;
           background: url(../images/sprite.png)  10px -27px no-repeat #f3f3f3;
           padding-left: 30px;

}

#add-item:hover {
    color: #333;
    border-color: #999;
    -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2) -webkit-box-shadow:0 2px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}



#look{
    background: url(../images/googleco.png) -306px -162px no-repeat;
    width: 18px;
    height: 18px;
    display: block;

}

#look:hover{
    background: url(../images/googleco.png) -306px -162px no-repeat;
    width: 18px;
    height: 18px;
    display: block;

}

#mail{
    background: url(../images/googleco.png) -72px -108px no-repeat;
    width: 18px;
    height: 18px;
    display: block;

}

#mail:hover{
    background: url(../images/googleco.png) -72px -108px no-repeat;
    width: 18px;
    height: 18px;
    display: block;

}


#home{
    background: url(../images/googleco.png) -126px -90px no-repeat;
    width: 18px;
    height: 18px;
    display: block;

}

#home:hover{
    background: url(../images/googleco.png) -126px -90px no-repeat;
    width: 18px;
    height: 18px;
    display: block;

}

#help{
    background: url(../images/googleco.png) -198px -90px no-repeat;
    width: 18px;
    height: 18px;
    display: block;

}

#help:hover{
    background: url(../images/googleco.png) -198px -90px no-repeat;
    width: 18px;
    height: 18px;
    display: block;

}

#myHR {


    width: 100%;

    border: solid 1px #999;
    height: 80px;

}

#myHR-img{
    background-image: url("../images/myhr.png");


}
#edit-user {

    background: url(../images/user-borkder.png);
    width: 99px;
    height: 22px;

}

#edit-user:hover {

    background: url(../images/user-border.png);
    width: 99px;
    height: 24px;

}

#colum-user{
  
    background: #000000;
    
}

#person {
    background: url(../images/google.png) -54px -0px no-repeat;
    width: 18px;
    height: 18px;
    display: block;   
}

#person-active {
    background: url(../images/googleco.png) -54px -0px no-repeat;
    width: 18px;
    height: 18px;
    display: block;   
}

#contrat {
    background: url(../images/google.png) -342px -18px no-repeat;
    width: 18px;
    height: 18px;
    display: block;   
}

#salary {
    background: url(../images/google.png) -324px -144px no-repeat;
    width: 18px;
    height: 18px;
    display: block;   
}

#salary-active {
    background: url(../images/googleco.png) -324px -144px no-repeat;
    width: 18px;
    height: 18px;
    display: block;   
}

#family {
    background: url(../images/google.png) -288px -72px no-repeat;
    width: 18px;
    height: 18px;
    display: block;   
}

#family-active {
    background: url(../images/googleco.png) -288px -72px no-repeat;
    width: 18px;
    height: 18px;
    display: block;   
}

#datatables{
    
    
    font:   11px Helvetica, Arial, sans-serif;
    
    
}

#datatables td{
    
    background: #c8c8c8;
    height: 22px;
    border: solid 1px #c8c8c8;
    
}


#datatablesG{
    
    
    font:   11px Helvetica, Arial, sans-serif;
    
    
}

#datatablesG td{
    
    background: #c8c8c8;
    height: 22px;
    border: solid 1px #c8c8c8;
    
}

#datatablesC{
    
    
    font:   11px Helvetica, Arial, sans-serif;
    
    
}

#datatablesC td{
    
    background: #c8c8c8;
    height: 22px;
    border: solid 1px #c8c8c8;
    
}

#datatablesB{
    
    
    font:   11px Helvetica, Arial, sans-serif;
    
    
}

#datatablesB td{
    
    background: #c8c8c8;
    height: 22px;
    border: solid 1px #c8c8c8;
    
}