* {
margin:0;
padding:0;
}

html {
background-color: #fbfbfb!important;
background:  url(../images/bg.png) no-repeat center;
}

body {
padding-top:30px;
font-family:sans-serif;
font-size:12px;

}

form {
margin-left:8px;
font-weight:400;
-moz-border-radius:3px;
-khtml-border-radius:3px;
-webkit-border-radius:3px;
border-radius:3px;
background:#fff;
border:1px solid #e5e5e5;
-moz-box-shadow:rgba(200,200,200,0.7) 0 4px 10px -1px;
-webkit-box-shadow:rgba(200,200,200,0.7) 0 4px 10px -1px;
-khtml-box-shadow:rgba(200,200,200,0.7) 0 4px 10px -1px;
box-shadow:rgba(200,200,200,0.7) 0 4px 10px -1px;
padding:26px 24px 46px;
}

form .forgetmenot {
font-weight:400;
float:left;
margin-bottom:0;
}

.button-primary {
font-family:sans-serif;
border:none;
font-size:13px;
-moz-border-radius:11px;
-khtml-border-radius:11px;
-webkit-border-radius:11px;
border-radius:11px;
cursor:pointer;
text-decoration:none;
margin-top:-3px;
border-style:solid;
border-width:1px;
padding:3px 10px;
}

#login form p {
margin-bottom:0;
}

label {
color:#777;
font-size:14px;
}

form .forgetmenot label {
font-size:12px;
line-height:19px;
}

form .submit,.alignright {
float:right;
}

form p {
margin-bottom:24px;
}

h1 a {
background:url(../images/logo-login.png) no-repeat top center;
width:326px;
height:67px;
text-indent:-9999px;
overflow:hidden;
padding-bottom:15px;
display:block;
}

#login {
width:320px;
margin:7em auto;
}

#login_error,.message {
-moz-border-radius:3px;
-khtml-border-radius:3px;
-webkit-border-radius:3px;
border-radius:3px;
border-style:solid;
background: #ffc;
border-color: #C00;
color: #333;
border-width:1px;
margin:0 0 16px 8px;
padding:12px;
}

body form .input {
font-family:HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",sans-serif;
font-weight:200;
font-size:24px;
width:97%;
margin-top:2px;
margin-right:6px;
margin-bottom:16px;
border:1px solid #e5e5e5;
background:#fbfbfb;
outline:none;
-moz-box-shadow:inset 1px 1px 2px rgba(200,200,200,0.2);
-webkit-box-shadow:inset 1px 1px 2px rgba(200,200,200,0.2);
box-shadow:inset 1px 1px 2px rgba(200,200,200,0.2);
padding:3px;
}

input {
color:#555;
}

.clear {
clear:both;
}


input.button-primary,button.button-primary,a.button-primary {
font-weight:700;
color:#fff !important;
background:#c47f00 url(../images/button-grad.png) repeat-x scroll left top;
text-shadow:rgba(0,0,0,0.3) 0 -1px 0;
border-color:#c47f00;
}

input.button-primary:active,button.button-primary:active,a.button-primary:active {
background:#c47f00 url(../images/button-grad-active.png) repeat-x scroll left top;
color:#c47f00;
}

input.button-primary:hover,button.button-primary:hover,a.button-primary:hover,a.button-primary:focus,a.button-primary:active {
color:#eaf2fa;
border-color:#c47f00;
}
