/* 
    Document   : index
    Created on : 30 mars 2012, 22:44:10
    Author     : toshiba
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

#core {
    margin: auto;
    width: 985px;
    height: 469px;
    margin-top: 30px;

}

#login-body {
    width:454px; 
    height: 160px; 
    float: right; 
    background: #feecca;
    border : solid 1px #f5f5f5;
}

#loggin-body-p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #6a6a6a;
    font-weight: bold;
    margin-left: 30px;
    margin-top: 5px;


}

#modify_text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #989898;
    font-weight: bold;



}



#infos{
    width:454px; 
    height: 295px; 
    float: right; 
    background: #feecca;

}

#login-button {
    text-decoration: none;
    

    font:  bold 12px Helvetica, Arial, sans-serif;
    color: #ffffff;


    display: inline-block;
    float: left;
    
    width : 50px;
    
    margin: 5px;
    padding: 5px 6px 4px 6px;

    background: #f08520;
    border: solid 1px #f08520;

    border-radius: 2px;


    border: 1px solid #f7881f !important;

    background: #f08520;
    



}

#login-button:hover {
    border: 1px solid #ff7c00 !important;
    background: #ff7c00;
    

}

